.foco {
    width: 450px;
}
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 10px;
}

p:first-child {
    margin-top: 20px;
}

/* Estilos específicos para la palabra clave "pogas" */
p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #FF5733; /* Color naranja */
}
